# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environments
venv/
.env/
test-env/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Generated output files
merged_*.csv
/*.csv
*.tmp

# Reports (optional – remove if you want reports tracked)
report.json

# Ignore everything inside csv folder
csv/*

# But keep the folder itself
!csv/.gitkeep